<h1>Distribution Centers</h1>

<% @distribution_centers.each do |distribution_center| %>
<h3><a href="/distribution_centers/<%= distribution_center.id %>"> <%= distribution_center.name %></a></h3>
<% end %>