<h1>All the Candies!</h1>

<% @candies.each do |candy| %>
  <h3><%= candy.name %></h3>
  <p>Quantity: <%= candy.quantity %></p>
  <p>In Stock: <%= candy.in_stock %></p>
  <p>Candy Shop Id: <%= candy.candy_shop_id %></p>
<% end %>
