<h1>Stores</h1>

<% @stores_by_dc.each do |store| %>
  <h2><%= store.name %></h2>
  <p>Shipments Received: <%= store.shipments_received %></p>
  <p>DC ID: <%= store.distribution_centers_id %></p>
  <p>Open: <%= store.open %></p>
<% end %>